<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <commonhead th:replace="~{header :: commonhead}"></commonhead>
</head>
<body>
    <nav th:replace="~{header :: header}"></nav>
    <div class="layui-body layui-tab-content site-demo site-demo-body" >
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>树形结构研究</legend>
        </fieldset>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">Jstree-20201229</div>
                        <div class="layui-card-body">
                            基于能够对于子目录的增删改成优先采用jstree
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>文件上传研究</legend>
        </fieldset>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">web uploader-20210107</div>
                        <div class="layui-card-body">
                            一个简单的以HTML5为主，FLASH为辅的现代文件上传组件,采用大文件分片并发上传，极大的提高了文件上传效率。支持断点续传、图片预览、MD5图片验证
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>